* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'montserrat';
}


/* NAV */

.navbar {
    background-color: #30336b;
}

.nav-link {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 500;
    border-radius: 10px;
}

.nav-link:hover {
    background-color: #babdf370;
}

.navbar-brand {
    padding-left: 5%;
}

.navbar-brand img {
    height: 60px;
    width: auto;
}

.navbar-nav {
    padding-right: 5%;
}

@media screen and (max-width: 450px) {
    .navbar-brand {
        width: 70%
    }
    .navbar-brand img {
        width: 100%;
        height: auto;
    }
}


/* HEADER */

.inicio {
    background: url("fondo1.jpg") fixed;
    height: 100vh;
}

.contenedor-inicio {
    width: 90%;
    padding: 120px 0 6%;
    height: 100vh;
    /* FLEX */
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.p1 {
    background-color: #000000cc;
    padding: 10px;
    /* CONSULTORA EN ING ELECTRICA */
    border-radius: 10px;
    align-self: flex-end;
    width: 900px;
}

.presentacion1 h1 {
    color: white;
    /* TITULO CONSULTORA EN INGENIERIA */
    font-size: 50px;
}

.presentacion1 address {
    color: white;
    font-size: 30px;
}

.presentacion2 {
    align-self: flex-end;
    /* DE NELSON */
}

.presentacion2 span {
    color: white;
    font-size: 30px;
    /* bg de nelson */
    background-color: #000000cc;
    padding: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 1750px) {
    .presentacion1 h1 {
        font-size: 45px;
    }
    .p1 {
        width: 800px;
    }
}

@media screen and (max-width: 1500px) {
    .p1 {
        width: 650px;
    }
    .presentacion1 h1 {
        font-size: 35px;
    }
    .presentacion2 span,
    .presentacion1 address {
        font-size: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .p1 {
        width: 550px;
    }
    .presentacion1 h1 {
        font-size: 30px;
    }
    .presentacion2 span,
    .presentacion1 address {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    .p1 {
        width: 450px;
    }
    .presentacion1 h1 {
        font-size: 25px;
    }
    .presentacion2 span,
    .presentacion1 address {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    .inicio {
        height: 80vh;
        background: url("fondo1c.jpg") fixed;
    }
    .contenedor-inicio {
        height: 70vh;
        padding-top: 110px;
    }
    .p1 {
        width: 100%;
    }
    .presentacion1 h1 {
        font-size: 25px;
        padding-bottom: 10px;
    }
    .presentacion2 span,
    .presentacion1 address {
        font-size: 15px;
    }
}


/* TITULOS SECCIONES*/

.titulos {
    text-align: center;
    font-size: 40px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 900;
    padding: 20px;
}

@media screen and (max-width:700px) {
    .titulos {
        font-size: 30px;
    }
}


/* TRABAJOS CARDS */


/* CONTENEDOR */

.wrapper {
    width: 90%;
    margin: auto;
}

.card {
    width: 80%;
    margin: auto;
}

.servicios {
    background-color: rgb(238, 235, 235);
    padding: 20px 0;
}

.card-img-top {
    height: 370px;
    object-fit: cover;
}

@media screen and (max-width: 1300px) {
    .card-img-top {
        height: 300px;
    }
}

@media screen and (max-width: 800px) {
    .card-img-top {
        height: 200px;
    }
    .card {
        width: 100%;
    }
}


/* ¿QUIENES SOMOS? */

.quienes_somos {
    background-color: #d5d9df;
    padding-top: 20px;
}

.qcards {
    height: 400px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.Quien {
    background: linear-gradient(45deg, #30336b, #554390);
    border-radius: 20px;
    color: white;
    width: 27%;
    padding: 17px;
    height: 250px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
}


/* animacion */

@media screen and (min-width:500px) {
    .Quien {
        transform: scale(0.95);
        transition: transform 0.5s;
    }
    .Quien:hover {
        transform: scale(1.05);
        transform: translateY(-30px);
        cursor: pointer;
    }
}

@media screen and (max-width:499px) {
    .Quien {
        transform: scale(0.95);
        transition: transform 0.5s;
    }
    .Quien:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}

.Quien p {
    font-size: 20px;
}

.Quien a {
    color: white;
}

@media screen and (max-width: 1800px) {
    .Quien p {
        font-size: 18px;
    }
}

@media screen and (max-width: 1400px) {
    .qcards {
        height: 350px;
        padding-bottom: 60px;
    }
    .Quien p {
        font-size: 16px;
    }
    .Quien {
        width: 32%
    }
}

@media screen and (max-width: 1000px) {
    .qcards {
        height: auto;
        padding-bottom: 60px;
        justify-content: center;
    }
    .Quien {
        width: 45%
    }
    .Quien:nth-child(1) {
        margin: 0 10px 10px 0;
    }
    .Quien:nth-child(2) {
        margin: 0 0 10px 10px;
    }
    .Quien:nth-child(3) {
        margin-top: 10px;
    }
}

@media screen and (max-width: 750px) {
    .Quien {
        width: 100%;
    }
    .Quien:nth-child(1) {
        margin: 10px 0;
    }
    .Quien:nth-child(2) {
        margin: 10px 0;
    }
    .Quien:nth-child(3) {
        margin: 10px 0;
    }
    .qcards {
        height: auto;
        padding-bottom: 60px;
        flex-flow: wrap column;
        justify-content: space-between;
        align-items: center;
    }
    .Quien p {
        font-size: 20px;
    }
}

@media screen and (max-width:530px) {
    .Quien p {
        font-size: 16px;
    }
}


/* CLIENTES DESTACADOS */

.clientes {
    background-color: rgb(238, 235, 235);
    padding: 20px 0;
}

.imgClientes {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.divimg {
    width: 20%;
    padding: 20px;
    height: auto;
}

.divimg img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    transform: scale(0.95);
    transition: transform 0.5s;
}

.divimg img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px rgba(0, 0, 0, 2);
    cursor: pointer;
}

@media screen and (max-width: 1300px) {
    .divimg {
        padding: 15px;
        width: 25%;
    }
}

@media screen and (max-width:1000px) {
    .divimg {
        padding: 10px;
        width: 33.3333%
    }
    .divimg:nth-child(2),
    .divimg:nth-child(6) {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .divimg {
        padding: 5px;
        width: 50%
    }
    .divimg:nth-child(2),
    .divimg:nth-child(6) {
        display: block;
    }
    .divimg img {
        border-radius: 10px;
    }
}


/* CONTACTO */

.contacto {
    background-color: #d5d9df;
    padding: 20px 0;
}

.cont-padre {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.cont-left,
.cont-right {
    width: 50%;
}


/* derecha */

form {
    width: 80%;
    margin: auto;
}

.elem-group label,
.elem-group input,
.elem-group textarea {
    display: block;
    width: 100%;
}

.elem-group input,
.elem-group textarea {
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

.elem-group textarea {
    min-height: 45px;
    max-height: 300px;
    height: 150px;
}

.elem-group label {
    font-size: 20px;
    font-weight: 500;
}

.btn {
    background-color: #30336b !important;
}


/* izq */

.contT {
    font-size: 30px;
    font-weight: 500;
    /* CEL, MAIL FB */
}

.phone p {
    font-size: 15px;
    /* numeros */
}

.phone h6 {
    font-weight: 400;
    /* nombres */
    font-size: 20px;
}

.contsec {
    margin-bottom: 20px;
    /* seccion */
}

.cmail p a {
    font-size: 20px;
    text-decoration: none;
    color: black
}

.facebook p a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.su-consulta {
    display: block;
    padding: 60px 0 30px;
    text-align: center;
    font-size: 30px;
    font-family: montserrat;
    font-weight: 600;
}

.fa-phone-square-alt {
    color: green;
    font-size: 18px;
    transform: scale(1);
    transition: transform .5s;
}

.fa-phone-square-alt:hover {
    transform: scale(1.5) translateX(5px);
}

@media screen and (max-width: 1500px) {
    form {
        width: 100%;
    }
    .phone p {
        font-size: 15px;
    }
    .phone h6,
    .cmail p a,
    .facebook p a {
        font-size: 17px;
    }
    .elem-group input,
    .elem-group textarea {
        padding: 8px;
    }
    .elem-group label {
        font-size: 17px;
    }
    .su-consulta {
        font-size: 22px;
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 850px) {
    .cont-padre {
        flex-direction: column;
    }
    .cont-left,
    .cont-right {
        width: 100%;
    }
    form {
        margin-bottom: 50px;
    }
    .phone p {
        font-size: 18px;
    }
    .phone h6,
    .cmail p a,
    .facebook p a {
        font-size: 18px;
    }
    .elem-group input,
    .elem-group textarea {
        padding: 8px;
    }
    .elem-group label {
        font-size: 18px;
    }
    .su-consulta {
        padding: 30px 0 30px;
        font-size: 20px;
    }
}


/* FOOTER */

footer {
    background-color: #30336b;
}

.contactanos {
    color: rgba(255, 255, 255, 0.5);
    padding: 20px 0;
}

.contactanos h5 {
    text-align: center;
    font-size: 27px;
    font-weight: 500;
}

.footer-datos {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.subtfoot h5 {
    font-family: 'Indie Flower', cursive;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
}

.titfo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.linea {
    background-color: rgba(255, 255, 255, 0.5);
    height: 4px;
    margin: 30px 0;
}

.final {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.copyright p,
.diseño p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
}

@media screen and (max-width: 1550px) {
    .contactanos h5 {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
    }
    .subtfoot h5 {
        font-family: 'Indie Flower', cursive;
        color: rgba(255, 255, 255, 0.5);
        font-size: 18px;
    }
    .linea {
        background-color: rgba(255, 255, 255, 0.5);
        height: 2px;
        margin: 30px 0;
    }
    .copyright p,
    .diseño p {
        color: rgba(255, 255, 255, 0.5);
        font-size: 15px;
    }
    .final {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .footer-datos {
        flex-direction: column;
        width: 90%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .subtfoot {
        margin-bottom: 20px;
    }
    .copyright p,
    .diseño p {
        font-size: 10px;
    }
}